.button {
  min-width: 8rem;
  width: auto;
  padding: 0.5rem 0.2rem;
  margin: 0;
  transition: background-color 0.5s, border-color 0.5s;
}

.buttonEffect {
  background-color: var(--color-button-hover);
  border-color: var(--color-button-hover);
}

.button span {
  margin: 0 0.3rem;
  color: var(--color-text);
}

.quantity {
  background-color: var(--color-primary);
  color: black;
  border-radius: 30px;
  padding: 0.15rem 1rem;
}