.header {
  width: 100%;
  height: 6rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: var(--shadow);
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.header li {
  margin-left: var(--size-4);
}

.header a {
  color: var(--color-text);
  font-size: var(--size-5);
}

.header a:hover,
.header a:active {
  color: var(--color-text-hover);
}

.search {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.search input {
  height: 50%;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 10rem;
  padding-right: 30px;
  padding-left: 1rem;
  font-size: var(--size-5);
}

.search input:focus {
  outline: none;
}

.search button {
  position: absolute;
  right: 0.5rem;
  background-color: var(--color-secondary);
  border-radius: 10rem;
  height: 35px;
  width: 35px;
  border: none;
  padding-top: 0.25rem;
}

.nav a {
  cursor: pointer;
}