.product {
  position: relative;
  width: 90%;
  height: auto;
  margin: 5%;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.product:hover {
  box-shadow: var(--shadow-enhanced);
}

.thumbnail {
  cursor: pointer;
  width: 100%;
  height: 15rem;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.9;
}

.info {
  width: 100%;
  min-height: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoName {
  cursor: pointer;
}

.infoName, .infoPrice {
  font-size: var(--size-5);
  margin: 0.3rem 0.3rem;
}

.infoRating {
  margin: 0.3rem auto;
}

.addItem {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0.4rem;
  top: 0.4rem;
  z-index: 100;
  color: var(--color-text);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  font-size: var(--size-5);
}

.addItem:hover {
  background-color: var(--color-primary);
}