.product {
  cursor: pointer;
  width: calc(100% - 4rem);
  height: auto;
  margin: 2rem;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.product:hover {
  box-shadow: var(--shadow-enhanced);
}

.thumbnail {
  width: 100%;
  height: 15rem;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.9;
}

.info {
  width: 100%;
  min-height: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoName, .infoPrice {
  font-size: var(--size-5);
  margin: 0.3rem 0.3rem;
}

.infoRating {
  margin: 0.3rem auto;
}