.outerContainer {
  width: 80%;
  margin: 3rem auto;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: var(--shadow);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
}

.modal {
  width: 40%;
  height: 70%;
  text-align: center;
  padding: 0;
  left: 30%;
  top: 15%;
}

.noProducts {
  text-align: center;
  padding-top: 1.5rem;
}