.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  color: var(--color-text);
  font-weight: bold;
  font-size: var(--size-5);
  margin-bottom: 0.3rem;
}

.control input, .control textarea {
  font: inherit;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  padding: 0.25rem;
  font-size: var(--size-5);
}

.control textarea {
  min-height: 5rem;
}

.error p {
  margin-top: 0.3rem;
  font-style: italic;
  color: var(--color-text)
}

.error input, .error textarea {
  border: 1px solid var(--color-error-light) !important;
  background-color: var(--color-error-light) !important;
}