.reviews {
  width: 70%;
  margin: auto;
  padding-bottom: 1rem;
}

.reviews h3 {
  text-align: center;
  font-size: var(--size-7);
  margin: 0;
  padding: 1rem;
}

.hr {
  margin-bottom: 1.5rem;
}

.noReviews {
  font-size: var(--size-5);
  text-align: center;
  margin: 2rem;
}