.productDetails {
  width: 100%;
  display: flex;
  font-size: var(--size-5);
}

.image {
  width: 50%;
  padding: 1rem;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.details {
  position: relative;
  width: 50%;
  padding: 0.5rem 1rem;
}

.details h2, .details p {
  margin: 0;
}

.details h2 {
  font-size: var(--size-8);
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem !important;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.price {
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
}

.addItemButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}