@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-main: #EDE6DB;
  --color-primary: #1A3C40;
  --color-secondary: #417D7A;
  --color-text: hsl(265, 55%, 96%);
  --color-text-hover: hsl(266, 8%, 83%);
  --color-text-disabled: rgb(175, 175, 175);
  --color-button: #417D7A; 
  --color-button-hover: #1D5C63;
  --color-error: rgb(151, 16, 16);
  --color-error-light: #f1acc9;
  --color-success: #12bd4b;
  --color-success-light: #a2f0bc;
  --color-loading: rgb(92, 30, 30);

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  --shadow-enhanced: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
}

body {
  margin: 0;
  background-color: var(--color-main);
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

.center {
  margin: auto;
  text-align: center;
}